.container {
    position: relative;
  }
  
  button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ffd700;
  }
  
  button svg {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .container button .react-icons {
    font-size: 30px;}